@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff"),
  }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff"),
}

:root {
  --basic-gray: #9d8b84;
  --basic-blue: #8996a6;
  --basic-green: #849d8f;
  --basic-white: #ffffff;
  --basic-black: #323232;
  --beige: #f8f7f4;
  --text-shadow-red: rgba(160, 32, 11, 0.76);
  --light-red: #f26843;
  --orange: #e74a35;
  --dark-red: rgba(172, 16, 0, 0.64);
  --grey: rgba(255, 255, 255, 0.2);
  --basic-red: #ac1000;
  --dark: rgba(0, 0, 0, 0.07);
  --active-red: #942718;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-gray);
  color: var(--basic-white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.site-wrapper {
  background-color: var(--basic-green);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu a {
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
}

.sub-menu {
  display: none;
}

.search-form {
  display: none;
}

.auth-form {
  display: none;
}

.cart {
  display: none;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  text-align: right;
  top: 40px;
  right: 27px;
}

.header-contacts-tel {
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.modal {
  display: none;
}

.slider-items {
  text-align: center;
}

.slide-title {
  display: block;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls {
  display: flex;
  justify-content: start;
}

.slider-controls  li:not(:last-of-type) {
  margin-right: 8px;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-item {
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 16px;
  width: 560px;
  min-height: 229px;
  padding-top: 16px;
}

.promo-item-raspberry {
  background-image: url(../img/malina-background.jpg);
}

.promo-item-chocolate {
  background-image: url(../img/choko-background.jpg);
}
.promo-item span {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  padding-left: 16px;
}

.promo-item p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding-left: 16px;
}

.promo-hits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-content: start;
}

.about-us {
  color: var(--basic-black);
  background-image: url(../img/pattern.jpg);
  background-repeat: repeat;
  border-radius: 16px;
}

.about-us-title {
  font-size: 24px;
  line-height: 30px;
}

.news {
  color: var(--basic-black);
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
}

.news h3 {
  font-size: 16px;
  line-height: 22px;
}

.news a {
  color: var(--basic-black);
  text-decoration: underline;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.subscription {
  color: var(--basic-black);
  background-color: var(--beige);
  border-radius: 16px;
  margin: 0;
  padding: 5px;
  min-height: 200px;
}

.subscription-widjet {
  background-image: url(../img/bg-post.svg);
  background-repeat: no-repeat;
  width: 560px;
  border-radius: 16px;
  padding: 6px;
  box-sizing: border-box;
}

.footer-menu a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a {
  color: var(--basic-white);
}

.footer-menu-item-providers {
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
}

.social-container a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url(../img/fb.svg);
}

.vk {
  background-image: url(../img/vk.svg);
 }

.instagram {
  background-image: url(../img/instagram.svg);
}

.twitter {
  background-image: url(../img/twitter.svg);
}

.footer-copyright-logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 108px;
  height: 39px;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
}

.button {
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px var(--text-shadow-red);
  background: linear-gradient(180deg, var(--light-red) 0%, var(--orange) 100%);
  box-shadow: 0px 2px 2px var(--dark-red);
  border-radius: 50px;
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, var(--grey), var(--grey)), linear-gradient(180deg, var(--light-red) 0%, var(--orange) 100%);
  box-shadow: 0px 2px 2px var(--basic-red);
  border-radius: 50px;
}

.button:active {
  background: linear-gradient(0deg, var(--dark), var(--dark)), linear-gradient(180deg, var(--light-red) 0%, var(--orange) 100%);
  box-shadow: inset 0px 2px 2px var(--active-red);
  border-radius: 50px;
}

.breadcrumbs a {
  color: var(--basic-white);
  text-decoration: underline;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
}

.value {
  font-size: 45px;
  line-height: 45px;
  background-image: url(../img/ruble.svg);
  background-repeat: no-repeat;
}

.weight {
  font-size: 30px;
  line-height: 35px;
}

.products-item-title {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 22px;
  display: block;
  text-align: center;
}

.about-us-item li {
  background-repeat: no-repeat;
}

.about-us-item-icecream {
  background-image: url(../img/ice-cream.svg);
 }

.about-us-item-cow {
  background-image: url(../img/cow.svg);
}

.about-us-item-eco {
  background-image: url(../img/eco.svg);
}

.about-us-item-temp {
  background-image: url(../img/thermometer.svg);
}

.page {
  height: 100%;
  box-sizing: border-box;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  outline: 1px solid violet;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 1146px;
  position: relative;
}

.header-navigation {
  outline: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.main-menu {
  outline: 1px solid yellow;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.main-menu > li {
  margin-right: 32px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 27px;
  padding-right: 27px;
}

.user-navigation {
  outline: 1px solid blue;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  flex-grow: 1;
  width: 267px;
  position: relative;
}

.user-nav-item:not(:last-of-type) {
  margin-right: 10px;
}

.about-us-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: start;
}

.columns {
 display: flex;
 justify-content: space-between;
 outline: 1px solid rebeccapurple;
}

.page-footer {
  outline: 1px solid brown;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-container {
  outline: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
}

.social-container > li:not(:last-of-type) {
  margin-right: 12px;
}

.footer-menu {
  outline: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
 }

/*  BREADCRUMBS */
.breadcrumbs li:not(:first-of-type) {
  padding-left: 8px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  margin-bottom: 13px;
}

/** Catalog */

.filters-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
  width: 869px;
  margin-top: 29px;
  margin-bottom: 40px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.products-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
}

.paginator {
  display: flex;
  justify-content: flex-end;
}

.paginator li:not(:last-of-type) {
  margin-right: 20px;
  margin-bottom: 37px;
  margin-top: 102px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.paginator a {
  color: var(--basic-white);
}
